@model IEnumerable<CMS2.Models.Conference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header" data-background-color="purple">
    <h4 class="title">Conference</h4>
    <p class="category">@Html.ActionLink("Create New", "Create")</p>
</div>
<div class="card-content table-responsive">
    <table class="table">
        <thead class="text-primary">
            <tr>
                <th>Begin Date</th>
                <th>End Date</th>
                <th>Topic</th>
                <th>Chair Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.beginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chair.chairId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.conferenceId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.conferenceId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.conferenceId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>